


<div class="jumbotron">
  <h1><i class="fa fa-child"></i> Do&Do</h1>
  <p>Use the simplest todo list app to make your life a bit organized. I know you are not.</p>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>  
</div>